.cardCountry {
  background-color: $primary-color;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 50px;
  border-radius: 10px;
  
  &--flag {
    border-radius: 10px 10px 0 0;
    width: 100%;
  }

  &--details {
    padding: 12% 10%;
    text-align: left;
  }
}