@mixin animationIn {
  animation-duration: 2s;
  animation-name: slidein;

  @keyframes slidein {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}

@mixin shadow {
  box-shadow: 0 2px 9px 0 rgba(0,0,0,.05);
  -webkit-box-shadow: 0 2px 9px 0 rgba(0,0,0,.05);
  -moz-box-shadow: 0 2px 9px 0 rgba(0,0,0,.05);
}