.search {
  width: 80%;
  margin: 20px auto;
  border-radius: 8px;
  background-color: $primary-color;
  padding: 20px;
  box-shadow: 0 2px 9px 0 rgba(0,0,0,.05);
  -webkit-box-shadow: 0 2px 9px 0 rgba(0,0,0,.05);
  -moz-box-shadow: 0 2px 9px 0 rgba(0,0,0,.05);

  &--icon {
    font-size: 18px;
    margin: 0 30px -4px -50px;
    fill: $input-color;
  }

  &--label {
    background-color: $primary-color;
    color: $input-color;
    font-weight: 300;
    border-style: none;
    outline: none;

    &::placeholder {
      color: $input-color;
    }
  }
}