@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;700&display=swap');

$light-color: hsl(0, 0%, 100%); 
$dark-color: hsl(209, 23%, 22%); 

$bg-light-color: hsl(0, 0%, 98%); 
$bg-dark-color: hsl(207, 26%, 17%); 

$text-light: hsl(200, 15%, 8%);
$text-dark: $light-color;

$primary-color: $light-color;
$bg-color: $bg-light-color;
$text-primary: $text-light;
$input-color: hsl(0, 0%, 52%);

$font: 'Nunito Sans', sans-serif;

body {
  background-color: $bg-color;
  text-align: center;
  width: 100vw;
  height: 100vh;
  font-family: $font;
  color: $text-primary;
  overflow: hidden;
  font-size: 14px;
}

.layout {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 80px 1fr;
}

main {
  background: coral;
}

.homeContainer {
  margin: 0 auto;
  overflow-y: scroll;
}

@import './components/countryItem.scss';
@import './components/header.scss';
@import './components/search.scss';